@import "tailwindcss";

body {
    background-color: #FFF7ED;
}

#root {
    max-width: none;
    padding: 0;
}

.logo {
    padding: 0;
}

.logo:hover {
    filter: none;
}

.header {
    align-items: center;
    justify-content: space-between;
}

.primary-color {
    color: #F97316;
}

.color-text {
    color: #1F2937;
}

nav a:hover {
    color: #F97316;
}

.focus\:outline-indigo-500 {
    &:focus {
        outline-color: transparent;
    }
}