@import "tailwindcss";
@import "./base.scss";
@import "./typography.scss";
@import "./utilities.scss";
@import "./forms.scss";
@import "./pages.scss";

/* Basic */

.header {
    align-items: center;
    justify-content: space-between;
}

/* Home page */
.home-page {
    padding: 60px 0;
}